/* clientdashboard.css */
.dashboard-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-container h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.dashboard-container p {
  font-size: 1.1rem;
  color: #333;
}
